/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "variable";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

/* Reset and basic styling */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    // font-family: 'Bebas Neue', sans-serif;
}


.music-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: rgba($color: #fff, $alpha: .5);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    padding: 6px;
}

.music-controls img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    pointer-events: auto;
}


.music-controls img:hover {
    transform: scale(1.1);
}



/* Loading screen styles */
.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 1);
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.loading-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.progress-bar-container {
    width: 80%;
    height: 10px;
    background-color: #333;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #ff7a00;
    transition: width 0.3s ease;
}

.progress-text {
    margin-top: 10px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}

.sun {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffb800 10%, #ff7a00 60%, #ff0000 100%);
    animation: rotateSun 2s linear infinite;
    box-shadow: 0 0 20px rgba($color: #ff7a00, $alpha: 1);
}

@keyframes rotateSun {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Loading text styles */
.loading-text {
    font-size: 24px;
    color: #fff;
    letter-spacing: 5px;
    text-transform: uppercase;
}

body {
    background: #111;
}

.neonText {
    font-size: 5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    color: $color-light;
    font-weight: bold;
    letter-spacing: 50px;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    pointer-events: none;
    user-select: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 2.5%;
    z-index: 120;
    position: absolute;
    width: 100%;

    .logoBox {
        display: flex;
        align-items: center;
        cursor: pointer;
        .logo {
            height: 80px;
            transform: translateY(-1%);
        }
        .logoText {
            h1 {
                display: flex;
                flex-direction: column;
                color: #fff;
                font-weight: bold;
                font-size: 2.25rem;
                letter-spacing: 0.4px;
                white-space: nowrap;
            }
            h2 {
                display: flex; // 確保子元素排列在一行

                align-items: center;
                gap: 8px; // 字母間距調整，根據需求設定

             @keyframes waveLightEffect {
  0% {
    background-position: 200% 0;
  }
  90% {
    background-position: 0% 0;
  }
  100% {
    background-position: 0% 0; /* 停止在最後的狀態 */
  }
}

.logoLightText {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 2px;
  color: transparent;
  background: linear-gradient(270deg, #ffffff 0%, #dad0ca 50%, #ff4500 100%);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: waveLightEffect 2s linear infinite; /* 動畫總時長設定 */
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  // 控制動畫時間與停頓
  animation-duration: 3.5s; /* 2秒動畫 + 3秒停頓 */
  animation-timing-function: linear; /* 線性運動 */
  animation-iteration-count: infinite; /* 循環播放 */
}
                // 對每個字母應用延遲，產生波浪效果
                .logoLightText:nth-child(1) {
                    animation-delay: 0s;
                }
                .logoLightText:nth-child(2) {
                    animation-delay: 0.1s;
                }
                .logoLightText:nth-child(3) {
                    animation-delay: 0.2s;
                }
                .logoLightText:nth-child(4) {
                    animation-delay: 0.3s;
                }
                .logoLightText:nth-child(5) {
                    animation-delay: 0.4s;
                }
                .logoLightText:nth-child(6) {
                    animation-delay: 0.5s;
                }
                .logoLightText:nth-child(7) {
                    animation-delay: 0.6s;
                }
            }
        }

        // 光效動畫：背景從左到右流動
        @keyframes waveLightEffect {
            0% {
              background-position: 200% 0;
            }
            90% {
              background-position: 0% 0;
            }
            100% {
              background-position: 0% 0; /* 停止在最後的狀態 */
            }
          }
    }
    .menuBox {
        display: flex;

        gap: 7.5%;

        .menuBtn {
            background-color: $color-light;
            white-space: nowrap;
            background-color: $color-blue;
            color: #ffffff;
            border-radius: 999px;
            border: none;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: 0.25s all ease;
            border: transparent 1px solid;
            font-size: 1rem;
            letter-spacing: 0.5px;
            &:hover {
                background-color: #fff;
                border: $color-primary 1px solid;
                color: $color-primary;
            }
        }
        .MenuTriger {
            background-color: #fff;
        }
    }
}

.hamburBox {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.aboutUs {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #222;

    .consultBtn {
        // width: 20%;
        // font-size: 1.75rem;
        // background-color: #ff8d3b;
        // border: none;
        // padding: 0.25rem 0;
        // color: #fff;
        // border-radius: 8px;
        // margin-top: 2rem;
        // cursor: pointerlogoBox;
        // box-shadow: 0 0 10px rgba($color: #fff, $alpha: 0.1);
        // transition: 0.3s ease all;
        padding: 0.5rem 0;
        font-size: 1.75rem;
        color: #fff;
        margin-top: 2rem;
        background: linear-gradient(45deg, #ff8d20, #ff3d00);
        border: none;
        border-radius: 50px;
        width: 20%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition:
            transform 0.3s ease,
            box-shadow 0.3s ease;
    }
    .ourVision {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;
        // background-color: $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;

        .textGroup {
            text-align: center;

            color: #fff;
            h3 {
                font-size: 5rem;
                letter-spacing: 10px;
                text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
            }
            h4 {
                margin-top: 1.5rem;
                font-size: 2rem;
                line-height: 1.25;
            }
        }
    }
    .videoGroup {
        position: relative;
        top: 0;
        left: 0;
        width: 40%;
        height: 100vh; /* 使影片佔滿視窗高度 */
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; /* 確保影片比例適當時，超出部分會被隱藏 */
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.1);
    }

    .videoGroup video {
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.Advantages {
    margin-top: 1.5rem;
    color: #fff;
    img {
        width: 150px;
        margin: 0 auto;
    }
    h3 {
        text-align: center;
        font-size: 2.75rem;
        font-weight: bold;
        color: #ff7a00;
        letter-spacing: 10px;
        text-shadow: 0 0 20px rgba(255, 122, 0, 0.7);
    }
    .advGroup {
        gap: 5%;
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        .advantage {
            display: flex;
            flex-direction: column;

            margin-top: 1rem;
            margin-bottom: 4rem;
            .textGroup {
                text-align: center;

                h3 {
                    font-size: 1.75rem;
                    font-weight: bold;
                    margin-top: 2rem;
                    letter-spacing: 0.5px;
                    margin-bottom: 0.5rem;
                }
                .PGroup {
                    margin-top: 0.75rem;
                    p {
                        
                        margin-bottom: 0.35rem;
                        letter-spacing: .2px;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}

.service {
    height: 400px;
    position: relative;
    text-align: center;
    max-width: 1600px;
    margin: 0 auto;
    color: #fff;
    h3 {
        text-align: center;
        margin-top: 2rem;
        font-size: 2.75rem;
        font-weight: bold;
        color: #ff7a00;
        letter-spacing: 10px;
        text-shadow: 0 0 20px rgba(255, 122, 0, 0.7);
    }

    .serviceGroup {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;

        .StepGroup {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            position: relative;
        
            .stepItem {
                flex: 1; // 撐開空間
                text-align: center; // 置中
                position: relative;
            }
        
            img {
                width: 125px;
                height: 125px;
                border-radius: 50%;
                margin-bottom: 1rem;
                background-color: #fff;
        
                filter:grayscale(.5);
                transform: scale(1); /* 默认大小 */
                transition: transform 1s ease, opacity 1s ease; 
            }
        
            /* 动画控制 */
            img.active {
                opacity: 1; /* 高亮显示 */
                transform: scale(1.5); /* 放大 */
                filter:grayscale(0);
            }
        }
        
        
        @keyframes scaleEffect {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5); // 最大放大比例
            }
            100% {
                transform: scale(1);
            }
        }
        
        .progressGroup {
            position: absolute;

            width: 80%;
            margin-left: 10%;
            height: 10px;
            top: 47%;
            left: 0;
            z-index: -1;
            .progress {
                width: 100%;
                
                background-color: #ddd;
                height: 10px;
         
                position: relative;
            }

            .progressDot {
                position: absolute;
                top: 50%;
                left: 5%;
                transform: translate(-50%, -50%);
                width: 20px;
                height: 20px;
                background-color: #fbc02d;
                border-radius: 50%;
                box-shadow:
                    0 0 20px 5px rgba(251, 192, 45, 0.8),
                    0 0 30px 10px rgba(251, 192, 45, 0.5);
                animation: moveDot 15s linear infinite;
            }
        }
    }

    /* 定义点移动的动画 */
    @keyframes moveDot {
        0% {
            left: 0%;
        }

        100% {
            left: 100%;
        }
    }
}

.formBox {
    background-color: #999;
    position: fixed;
    top: 46%;
    left: 50%;
    width: 80%;
    height: 750px;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    overflow: hidden;
    z-index: 9939;
    display: flex;
    box-shadow: 0 0 30px rgba($color: #fff, $alpha: 0.15);
    transition: 0.5s ease all;
    display: none;

    .close {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 3.25rem;
        cursor: pointer;
    }
    .support {
        width: 40%;
        background-color: #890;

        iframe {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
        }
        position: relative;
        .contactGroup {
            width: 100%;
            position: absolute;
            bottom: 0%;
            left: 50%;
            padding: 0;
            margin: 0;
            transform: translate(-50%, 0);
            background-color: rgba($color: #191919, $alpha: 0.5);
            backdrop-filter: blur(10px);
            .contactEmail {
                color: #fff;
                font-size: 1.75rem;
                white-space: nowrap;
                text-align: center;
                letter-spacing: 0.15px;
                margin: 0;
                padding: 0.75rem;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
                img {
                    width: 22px;
                    transform: translateY(2px);
                }
            }
        }
    }



    .main {
        width: 60%;
        padding: 16px 2.5% 24px;
        background-color: #e7e6e6;

        h3 {
            font-size: 2.25rem;
            color: $color-blue;
            text-align: center;
            color: #000000;
            font-weight: bold;
            display: block;
            letter-spacing: 2px;
        }

        .btnList {
            display: flex;
            gap: 0.5rem;
            padding: 0.5rem 0 0.5rem;

            button {
                cursor: pointer;
                border: 1px solid $color-blue;
                background-color: $color-blue;
                color: #fff;
                font-size: 1rem;

                border-radius: 8px;
                padding: 0.25rem 0.75rem;
                transition: all 0.25s ease;
                &:hover {
                    background-color: #fff;
                    color: $color-primary;
                    border: 1px solid $color-primary;
                }
            }

            .btnActive {
                background-color: #fff;
                color: $color-primary;
                border: 1px solid $color-primary;
            }
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .inputGroup {
            width: 100%;
            position: relative;
            text-align: center;
            margin-bottom: 0.5rem;
            background-color: rgba(255, 255, 255, 1);
            padding-top: 12px;
            padding-bottom: 12px;
            font-size: 1.25rem;
            border-radius: 12px;
            display: flex;
            box-shadow: 0 0 10px rgba(#fff, 0.1);
            opacity: 0; // 初始透明度

            // 添加动画
            animation: fadeIn 0.6s ease forwards; // 确保此行存在

            input[type="text"],
            input[type="tel"],
            input[type="email"],
            select {
                width: 77.5%;
                font-size: 1.25rem;
                outline: none;
                background-image: none;
                appearance: none;
                border: none;
            }

            textarea {
                width: 100%;
                appearance: none;
                outline: none;
                border: none;
                resize: none; /* 禁止调整大小 */
            }

            label {
                width: 22.5%;
                font-size: 1.25rem;
                white-space: nowrap;
                text-align: left;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                font-weight: bold;
            }

            // 使用 @for 循环添加延迟
            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    animation-delay: 0.025s * $i; // 确保延迟正确设置
                }
            }
        }

        .submitBtn {
            width: 55%;
            bottom: 3%;
            margin-top: 0.5rem;
            padding: 8px;
            letter-spacing: 5px;
            color: #fff;
            background-color: $color-primary;
            font-size: 20px;
            border-radius: 99px;
            border: none;
            position: absolute;
            opacity: 0;
            animation: fadeIn 0.3s ease forwards;
            animation-delay: 0.4s;
            cursor: pointer;
        }
        .form2 {
            display: none;
        }
        .form3 {
            display: none;
        }

        .radioWrap {
            display: flex;
            margin-left: auto;
            width: 15.5%;
            .radioGroup {
                display: flex;
                gap: 0.7rem;
                margin: 0;
                padding: 0;

                label {
                    margin: 0;
                    padding: 0;
                    position: relative;
                }
                input {
                    margin: 0;
                    padding: 0;
                    width: 1.5rem;
                    height: 1.5rem;
                    background-color: #000;
                }
            }
        }
    }
}

.cover {
    z-index: 999;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba($color: #333, $alpha: 0.8);

    backdrop-filter: blur(10px);
    display: none;
}


// 定義全局變數
$primary-color: #ff7a00;
$secondary-color: #111;
$text-color: #fff;
$muted-color: #ccc;
$font-family: 'Bebas Neue', sans-serif;

// 核心價值樣式
#values {
    padding-bottom: 2rem;
  .section-title {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 2.75rem;
    font-weight: bold;
    color: #ff7a00;
    letter-spacing: 10px;
    text-shadow: 0 0 20px rgba(255, 122, 0, 0.7);
    
  }

  .values {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

    .value {
      flex: 1 1 calc(33.333% - 20px);
      background: darken($secondary-color, 10%);
      padding: 20px;
      text-align: center;
      border-radius: 10px;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
      }

      img {
        width: 200px;
        height:200px;
        margin-bottom: 15px;
        border-radius: 8px;
      }

      h3 {
        font-size: 1.75rem;
        color: $primary-color;
        margin-bottom: 10px;
        letter-spacing: 1px;
        font-weight: bold;
      }

      p {
        font-size: 1.25rem;
        letter-spacing: 2px;
        color: $muted-color;
        line-height: 1.5;
        text-align: left;
        padding: 0 5%;
      }
    }
  }
}

// CTA Banner
.cta-banner {
  background: url('/imgs/cta-bg.jpg') no-repeat center center / cover;
  text-align: center;
  padding: 50px 5%;
  color: $text-color;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }

  .cta-banner-content {
    position: relative;
    z-index: 2;

    h2 {
      font-size: 3rem;
      color: $primary-color;
      margin: 0;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 30px;
      font-size: 1.25rem;
      background: $primary-color;
      color: $text-color;
      text-transform: uppercase;
      border-radius: 5px;
      text-decoration: none;
      transition: background 0.3s;

      &:hover {
        background: lighten($primary-color, 10%);
      }
    }
  }
}

.footer {
    background-color: #e3732d;
    position: relative;
    padding: 2rem;
    color: #fff;

    .footerContentGroup {
        display: flex;
        justify-content: space-between;

        .footerContent1 {
            width: 30%;

            display: flex;
            align-items: center;
            cursor: pointer;
            .logo {
                height: 80px;
                transform: translateY(-1%);
            }
            .logoText {
                h1 {
                    display: flex;
                    flex-direction: column;
                    color: #fff;
                    font-weight: bold;
                    font-size: 2.25rem;
                    letter-spacing: 0.4px;

                    span {
                        // color: $color-primary;
                        letter-spacing: 0.2px;
                        text-shadow: 0 0 2px $color-primary;
                        letter-spacing: 2.5px;
                        font-size: 2rem;
                    }
                }
            }
        }
        .footerContent2 {
            width: 35%;

            .contentItem {
                display: flex;
                align-items: center;

                white-space: nowrap;
                width: 100%;
                padding: 0.5rem 0;
                .iconGroup {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 24px;
                    }
                }
                h4 {
                    margin-left: 0.5rem;
                    font-size: 1.25rem;
                }
            }
        }
        .footerContent3 {
            width: 35%;
            font-size: 2rem;
            position: relative;

            &::before {
                transform: translateX(-30px);
                height: 100%;
                position: absolute;
                left: 0;
                background: #fff;
                width: 2px;
                content: "";
            }
            .footerBtnGroup {
                display: flex;
                justify-content: center;
                gap: 2.5%;
                margin-top: 1rem;
                .menuBtn {
                    background-color: $color-light;
                    white-space: nowrap;
                    background-color: $color-blue;
                    color: #ffffff;
                    border-radius: 999px;
                    border: none;
                    padding: 0.5rem 1rem;
                    cursor: pointer;
                    transition: 0.25s all ease;
                    border: transparent 1px solid;

                    &:hover {
                        background-color: #fff;
                        border: $color-primary 1px solid;
                        color: $color-primary;
                    }
                }
                .MenuTriger {
                    background-color: #fff;
                }
            }
            .fansGroup {
                display: flex;
                justify-content: end;
                justify-content: center;
                gap: 0.75rem;

                margin: 0.75rem 6% 0;

                img {
                    width: 2rem;
                }
            }
        }
    }
    .copyRight {
        text-align: center;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 1200px) {
    * {
        display: none;
    }
    .navbar {
        padding: 16px 2%;
        .logoBox {
            .logo {
                height: 70px;
                transform: translateY(-1%);
            }
            .logoText {
                h1 {
                    font-size: 2rem;
                    letter-spacing: 0.4px;
                    span {
                        letter-spacing: 2.5px;
                        font-size: 1.75rem;
                    }
                }
            }
        }
        .menuBox {
            gap: 5.5%;

            .menuBtn {
                padding: 0.5rem 1rem;

                &:hover {
                }
            }
            .MenuTriger {
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        padding: 16px 3%;
        .logoBox {
            .logo {
                height: 70px;
                transform: translateY(-1%);
            }
            .logoText {
                h1 {
                    font-size: 1.75rem;
                    letter-spacing: 0.4px;
                    span {
                        letter-spacing: 2.5px;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .menuBox {
            gap: 5.5%;

            .menuBtn {
                padding: 0.5rem 1rem;

                &:hover {
                }
            }
            .MenuTriger {
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        padding: 16px 2%;
        .logoBox {
            .logo {
                height: 48px;
                transform: translateY(-1%);
            }
            .logoText {
                h1 {
                    font-size: 1.5rem;
                    letter-spacing: 0.4px;
                    line-height: 1.05;
                    span {
                        letter-spacing: 2.5px;
                        font-size: 1.25rem;
                    }
                }
            }
        }
        .menuBox {
            gap: 5.5%;
            display: none;
            .menuBtn {
                padding: 0.5rem 1rem;

                &:hover {
                }
            }
            .MenuTriger {
            }
        }
    }
}
