// Color Palette Variables
$color-primary: #f17217;  // Main brand color (used in buttons, highlights)
$color-dark: #111111;  // Darsk text (for use on light backgrounds)
$color-light: #ffffff;  // Light background color

$color-blue : #142A88;